/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;600;700;800&display=swap');
/* share style */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 0px auto;

}
.btn-primery{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: 0px;
    cursor: pointer;
}
.gray-text{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}
.common-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
/* Header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
    color: #424242;
}
/*  Banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    /* width: 862px; */
    color: #131313;

}
.banner img{
    width: 100%;
}

/* main section style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* team style */
.team-container{
    display: flex;
    align-items: center;
    margin: 0px;
}
.team-imag{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    /* padding: 0px 0px 0px 200px; */
    
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.Quick-list{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.of-Our{
    color:#131313 ;
    font-size: 45px;
    font-weight: 700;
}
.fea-tures{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;

}
/* features section */
.features{
    margin-top: 130px;
    display: flex; 
    gap: 100px;


}
.features-img{
    height: 90%;
}
.features-cart{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);


} 
.features-title{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    width: 468px;
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.ten-year-badge{
    width: 32opx;
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    height: 200px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 30px;
}
.ten-year-badge h2{
    font-size: 4rem;
    margin: 0px;
}
.ten-year-badge p{
    font-size: 25px;
}
/* facts section */
.facts-cart-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.cart{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}
.cart-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 10px;
}
.cart-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;

}
/* sponsors section */
.sponsors{
    text-align: center;
}
.sponsers-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsers-img-container img{
    width: 165.833px;
    height: 50px;
}
/* footer section */
.footer{
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 0px;

}
.footer-text{
    text-align: center;
}

/* responsive midea queries */
/* mobile device */
@media screen and (max-width: 576px) {
    header ,.facts-cart-container,.common-titile,.ray-text{
        padding: 20px;
    }
    nav , .team-container ,.facts-cart-container,.sponsers-img-container,.features{
        flex-direction: column;
    }
.team-imag{
    grid-template-columns: repeat(1,1fr);
}
.facts-cart-container,.sponsers-img-container{
    display: flex;
    gap: 20px;
}
.features-img img{
    width: 100%;
    margin: 0px;
}
.ten-year-badge {
    position: static;
   max-width: 300px;
}
.footer{
    width: 100%
}
}
/* tablet or mediam device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header,.facts-cart-container{
        padding: 50px;

    }
    nav , .team-container ,.facts-cart-container,.sponsers-img-container,.features{
        flex-direction: column;
    }
    .footer{
        width: 100%
    }
    
}
